/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-color-hover: #3585fd;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --background-card: white;
  --grey: #d9d9d9;
  --text-color-black: #000;
  --text-color-white: #fff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  margin: 0px 0px 8px;
}

a {
  color: var(--text-color-black);
  text-decoration: none;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: var(--background-card);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.3s;
}

.card:hover {
  /* background-color: var(--main-bg-color); */
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
  transition: 0.3s;
  cursor: pointer;
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.card-activities:hover {
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
  transition: 0.3s;
  cursor: pointer;
}

.card-link {
  display: contents;
}

.euro {
  font-weight: 500;
}

.neutral-star {
  color: var(--main-bg-color);
}

h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer {
  padding-top: 35px;
}

.input-location {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input-location::placeholder {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
}

/******** Nav ***********/

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-nav {
  margin: 30px 0px 30px 0px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: end;
  height: 35px;
  gap: 68px;
}

.nav-link a {
  color: var(--text-color-black);
  text-decoration: none;
  padding-top: 15px;
}

.nav-link :hover {
  color: var(--main-color);
  border: solid;
  border-width: 2px 0px 0px 0px;
}

/****** Header ***********/

.header-section {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-top: 35px;
}

.headline {
  gap: 8px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 49px;
}

.search-bar-icon {
  height: 100%;
  width: 50px;
  background-color: var(--main-bg-color);
  border-radius: 14px 0px 0px 14px;
}

.search-button {
  height: 100%;
  background-color: var(--main-color);
  border-style: solid;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-width: 0px;
  padding: 0px;
}

.search-button:hover {
  background-color: var(--main-color-hover);
  cursor: pointer;
}

.search-btn-txt {
  color: var(--text-color-white);
  margin: 15px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mobile-search-button {
  align-items: center;
  padding: 16px 17px;
  border-radius: 15px;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: none;
}

.search-bar-text {
  display: flex;
  align-items: center;
  height: 100%;
  width: 250px;
  padding-left: 24px;
  padding-right: 24px;
  border-style: solid;
  border-width: 2px 0px 2px;
  box-sizing: border-box;
  border-color: var(--main-bg-color);
}

.section-filter-button {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.filter-button {
  display: flex;
  height: 50px;
  flex-direction: row;
  gap: 10px;
  padding: 4px 19px 4px 19px;
  border-radius: 25px;
  align-items: center;
  background-color: var(--text-color-white);
  border-style: solid;
  border-color: var(--grey);
}

.filter-btn-txt {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-title {
  margin: 0px;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}

.filter-bar button:hover {
  background-color: var(--filter-bg-color);
  cursor: pointer;
}

.info-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

/****** Hebergements And Populaires ***********/
.section-hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  gap: 2em;
}

/****** Hebergements ***********/
.section-hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.section-hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 192px 192px;
  gap: 30px;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.hebergements-cards img {
  width: 100%;
  height: 55%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.hebergements-cards .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.hebergements-cards .card-title {
  margin-top: 9px;
  margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
  font-size: 14px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.section-hebergements-footer h3 {
  margin: 0px;
}

/****** Populaires ***********/
.section-populaires {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.section-populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.populaires-cards .card {
  display: flex;
  height: 125px;
}

.populaires-cards img {
  width: 33%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/***************** Activities ********************/

.activities {
  padding-top: 35px;
}

.activities-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 30px;
}

.card-activities {
  display: flex;
  flex-direction: column;
  background-color: var(--background-card);
  width: 100%;
  height: 439px;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.3s;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-image {
  width: 100%;
  height: 85%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-activities h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1em;
}

.card-activities-title {
  display: flex;
  justify-content: center;
  height: 15%;
  flex-direction: column;
}

.activities-title {
  margin-left: 30px;
  margin-top: 30px;
}

/***************** Footer ********************/

.footer {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
}

.footer-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 15px;
}
.footer h4,
p {
  margin: 0px;
}

.footer p:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .section-hebergements-and-populaires {
    flex-direction: column;
  }

  .section-hebergements {
    width: 100%;
  }

  .section-populaires {
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .card-activities {
    height: 210px;
  }

  .card-activities img {
    height: 70%;
  }

  .card-activities-title {
    height: 30%;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    margin: 0px;
  }

  .main-container {
    padding: 0px;
  }

  /***************** Nav ********************/

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 35px;
    width: 100%;
    justify-content: space-evenly;
    gap: 0px;
  }

  .nav-link {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
    border-color: var(--grey);
  }

  .nav-link a {
    padding: 0px;
  }

  .nav-link :hover {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid;
    border-color: var(--main-color);
    border-top: 0px;
  }

  .search-bar-text {
    border-style: none;
  }

  .search-bar {
    border: 2px solid;
    border-radius: 15px;
    border-color: var(--main-bg-color);
  }

  /***************** Header ********************/

  .header-section {
    margin: 0px 20px 0px 20px;
  }

  .search-button {
    display: none;
  }

  .mobile-search-button {
    display: flex;
  }

  .search-bar-text {
    width: 100%;
  }

  .section-filter-button {
    justify-content: center;
  }

  .filter-button {
    width: 160px;
  }

  /***************** Hebergement ********************/

  .section-hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .section-hebergements {
    border-radius: 0px;
    background-color: var(--background-card);
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
  }

  .hebergements-cards .card {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 146px;
  }

  .hebergements-cards img {
    width: 30%;
    height: 100%;
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  /***************** Populaire ********************/

  .section-populaires {
    border-radius: 0px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: auto;
  }

  /***************** Activités ********************/

  .activities-cards {
    flex-direction: column;
  }

  .card-activities {
    width: auto;
  }

  /***************** Footer ********************/

  .footer {
    flex-direction: column;
  }
}
